<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kei_data">
    <uses-feature
        android:name="BLUETOOTH_SCAN"
        android:required="true"
        tools:ignore="ManifestOrder" />
    <uses-feature
        android:name="BLUETOOTH_ADVERTISE"
        android:required="true"
        tools:ignore="ManifestOrder" />

    <uses-feature
        android:name="BLUETOOTH_CONNECT"
        android:required="true"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeiData"
        android:name=".App">
        <activity
            android:name=".Household_activity"
            android:exported="false"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".Settings_activity1"
            android:exported="false" />
        <activity
            android:name=".Categories_activity"
            android:exported="false" />
        <activity
            android:name=".Display_activity"
            android:exported="false" />
        <activity
            android:name=".Devices_activity"
            android:exported="false" />
        <activity
            android:name=".User_activity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".AddUser_activity"
            android:exported="false" />
        <activity
            android:name=".AddDeviceType_activity"
            android:exported="false" />
        <activity
            android:name=".AddDeviceIP_activity"
            android:exported="false" />
        <activity
            android:name=".AddDeviceName_activity"
            android:exported="false" />
        <activity
            android:name=".DeviceSuccess_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    </manifest>